# dependencies
/node_modules
.pnpm-store

# astro
/dist
/.astro
/public/openapi.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env
.env*.local

# typescript
*.tsbuildinfo

# wrangler / cloudflare
.wrangler
.dev.vars
worker-configuration.d.ts
